/* VARIABLES */
:root {
  --brown: #463718;
  --white: white;
  --lime: lime;
  --lightbrown: #9B8473;
  --text: 'Replica Pro';
  /* --bold: 'Replica Bold';
	--bolditalic: 'Replica Bold'; */
  --siggy: 'Siggy RJ numbers';
}

/* FONTS */
@font-face {
  font-family: 'Siggy RJ numbers';
  src: url('fonts/Siggy/SiggyRJ-Regular.woff2') format('woff2'),
    url('fonts/Siggy/SiggyRJ-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Replica Pro';
  src: url('fonts/Replica/ReplicaPro-Regular.woff2') format('woff2'),
    url('fonts/Replica/ReplicaPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Replica Pro';
  src: url('fonts/Replica/ReplicaPro-BoldItalic.woff2') format('woff2'),
    url('fonts/Replica/ReplicaPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Replica Pro';
  src: url('fonts/Replica/ReplicaPro-Bold.woff2') format('woff2'),
    url('fonts/Replica/ReplicaPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* BASICS */
html, body {
  /* scroll-behavior: smooth; */
  text-decoration: none;
}

body {
  /* width: 100%;
  height: 100%; */
  text-decoration: none;
  background-color: var(--brown);
}

/* BACKGROUND VIDEO */
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -100;
  /* -webkit-filter: blur(5px); */
}

/* NAVIGATION */
.nav-button {
  text-decoration: none !important;
  display: inline;
  position: absolute;
  position: fixed;
  font-size: 2vw;
  font-family: var(--text);
  color: lime;
  width: 10%;
  height: 5%;
  float: right;
  margin: 2%;
  z-index: 100;
}

.home-button {
  text-decoration: none !important;
  display: inline;
  position: absolute;
  position: fixed;
  font-size: 3vw;
  font-family: var(--siggy);
  color: white;
  -webkit-text-stroke: 1.5px white;
  width: 10%;
  height: 5%;
  float: left;
  margin-left: 3%;
  margin-top: 1.5%;
  z-index: 100;
  cursor: pointer;
  text-shadow: 0 0 5px var(--brown);
}

.about-button {
  right: 0;
  margin-right: 15vw;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-filter: blur(3px);
}

.podcast-button {
  right: 0;
  margin-right: 3vw;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-filter: blur(3px);
}

.text-about-button {
  text-decoration: none !important;
  color: lime;
  font-weight: bold;
  text-shadow: 0 0 7px var(--brown);
}

.text-podcast-button {
  text-decoration: none !important;
  color: lime;
  font-weight: bold;
  text-shadow: 0 0 7px var(--brown);
}

/* ABOUT-DESCRIPTION */
.about-section {
  opacity: 0;
  pointer-events: none;
  /*  display: none; */
}

.description {
  z-index: 10;
  display: inline-block;
  /* background-color: red; */
  position: absolute;
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 10%;
  color: var(--white);
  font-size: 1.5em;
  font-family: var(--text);
  text-align: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-bottom: 15vw;
}

.graph {
  display: flex;
  justify-content: center;
}

.graph img {
  width: 100vw;
}

/* ABOUT-FLOATING STORIES */
#story {
  position: absolute;
  /* fixed; */
  /* display: none; */
  opacity: 0;
  overflow: visible;
}

#stories-trigger {
  color: lime;
}

#stories-container {
  z-index: 10;
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.story-title {
  position: absolute;
  top: calc(-1.5em - 5vw);
  left: 0;
  width: auto;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  /* 	z-index: +1; */
  color: var(--brown);
  text-align: center;
  font-size: 2em;
  font-family: var(--text);
  font-weight: bold;
  text-shadow: 0 0 1px black;
}

#story-content {}

.story-background {
  width: 0;
  height: 0;
  padding: 5vw;
  position: relative;
  background-color: lime;
  backdrop-filter: blur(10px);
  -webkit-filter: blur(10px);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px 6px var(--brown);
  border-radius: 50%;
  transform-origin: center;
  transition: all 0.5s ease-in-out;
  z-index: 0;
  /* background-attachment: fixed; */
}

/* .story-background::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: linear-gradient(transparent, white);
  pointer-events: none;
} */
.story-text {
  position: absolute;
  top: 0; left: 0;
    width: 30vw;
    height: 40vw;
  padding: 20px;
  color: var(--brown);
  font-family: var(--text);
  /* padding: 20px; */
  /* width: 90%; */
  /* height: auto; */
  transform: translate(-50%,-50%);
  transform-origin: center;
  transition: opacity 0.5s ease-in-out;
  box-sizing: border-box;
  /* overflow: hidden; */
  overflow-y: scroll;
  opacity: 0;
  font-size: 1.1em;
  font-family: var(--text);
  pointer-events: none;
  /* font-weight: bold; */
}

.story-text p {
  margin: 0 0 1em
}

.story-text p:last-child {
  margin-bottom: 0
}

.story.opened {
  z-index: +1;
}
.story.opened .story-title {
  top: calc(-1.5em - 20vw);
  /* top: -8.5em; */
}
.story.opened .story-text {
/*  opacity: 1; */
  pointer-events: all;
}
.story.opened .story-background {
  width: 30vw;
  height: 40vw;
  padding: 0;
  border-radius: 5%;
}

/* PODCAST-ACCORDION */
#dropdown-podcast {
  display: none;
  margin-top: 10%;
  width: 50%;
  height: auto;
  margin-left: 25%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(10px);
}

.podcast-buttons>.play-button,
.podcast-buttons>.pause-button {
  display: none;
  fill: lime;
  height: 50px;
  width: 100%;
  float: left;
}

.elapsed-time {
  font-family: var(--text);
  color: white;
}

.podcast-buttons>.play-button.active,
.podcast-buttons>.pause-button.active {
  display: block;
}

.playhead-container {
  position: relative;
  width: 100%;
  height: 20px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.playhead {
  display: inline-block;
  width: 0%;
  height: 100%;
  background: lime;
}

/* AUDIO PLAYER */
.accordion {
  align-items: center;
  margin-bottom: 1%;
  border: 3px solid lime;
  border-radius: 25px;
  transition: 0.4s;
  z-index: 90;
  padding: 20px;
}

.accordion-title {
  color: var(--white);
  font-size: 2.5em;
  font-family: var(--text);
  font-weight: bold;
}

.accordion-subtitle {
  text-align: right;
}

.guest {
  color: lime;
  font-size: 2em;
  font-family: var(--siggy);
  text-align: right;
  -webkit-text-stroke: 1.5px lime;
}

.with {
  color: var(--white);
  font-size: 1em;
  font-family: var(--text);
  text-align: right;
  margin-right: 5px;
}

.accordion-content {
  margin-top: 1%;
  height: auto;
  width: 100%;
  display: none;
  color: var(--white);
  animation: display_transition .8s ease-in-out;
  /* -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; */
}

@keyframes display_transition {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.column {
  color: var(--white);
  font-size: 1em;
  font-family: var(--text);
  word-break: break-word;
}

.left {
  float: left;
  width: 45%;
  margin-right: 0px;
  margin-top: 20px;
}

.right {
  float: right;
  width: 54%;
}

.basket-drawing {
  position: absolute;
  display: block;
}

.basket-drawing img {
  width: 30%;
}

.basket-drawing-description {
  color: lime;
  margin-top: 0px;
}

.podcast-links {
  color: white;
  font-size: 1.2vw;
}

.podcast-quote {
  font-size: 2vw;
  font-style: italic;
}

.podcast-keywords {
  font-size: 0.9vw;
  display: block;
  margin-top: -5px;
}

.keyword-on {
  display: inline;
  padding-right: 10px;
  /* padding-bottom: 10px; */
  background-color: lime;
  color: black;
  border-radius: 20px;
  /* Making border radius */
  width: auto;
  /* Making auto-sizable width */
  height: auto;
  /* Making auto-sizable height */
  padding: 4px 10px 3px 10px;
  /* Making space around letters */
  font-style: bold;
  line-height: 200%;
  break-word: keep-all;
}

.keyword-off {
  display: inline;
  padding-right: 10px;
  /* padding-bottom: 10px; */
  border: 2px solid lime;
  color: black;
  border-radius: 20px;
  /* Making border radius */
  width: auto;
  /* Making auto-sizable width */
  height: auto;
  /* Making auto-sizable height */
  padding: 4px 10px 3px 10px;
  /* Making space around letters */
  font-style: bold;
  line-height: 240%;
  break-word: keep-all;
}

.podcast-links-container {
  width: 40%;
  position: absolute;
  display: block;
}

.panel {
  padding: 0;
  background-color: var(--brown);
  display: none;
}

@media (max-width: 1400px) {
  #background-video {
    position: fixed;
    top: 0;
    margin-left: 300PX;
    width: 100vw;
    height: 100vh;
    transform: scale(2.5, 2.5);
  }

  .nav-button {
    font-size: 4vw;
  }

  .home-button {
    font-size: 5vw;
  }

  .about-button {
    margin-right: 30vw;
  }

  .podcast-button {
    margin-right: 13vw;
  }

  .description {
    font-size: 1.7em;
    width: 60%;
    height: auto;
    margin-left: 20%;
  }

  .basket-drawing img {
    width: 40%;
  }

  #dropdown-podcast {
    display: none;
    margin-top: 10%;
    width: 80%;
    height: auto;
    margin-left: 10%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(10px);
  }
}

@media only screen and (orientation: landscape) {

  #dropdown-podcast {
    display: none;
    margin-top: 10%;
    width: 60%;
    height: auto;
    margin-left: 20%;

  }
}

@media (max-width: 800px) {
  #background-video {
    position: fixed;
    top: 0;
    margin-left: 300px;
    width: 100vw;
    height: 100vh;
    transform: scale(4, 4);
  }
}
