/* VARIABLES */
:root {
  --brown: #5f3b23;
  --white: white;
  --text: 'Replica Pro';
	/* --bold: 'Replica Bold';
	--bolditalic: 'Replica Bold'; */
  --siggy: 'Siggy RJ numbers';
}

/* FONTS */
@font-face {
    font-family: 'Siggy RJ numbers';
    src: url('fonts/Siggy/SiggyRJ-Regular.woff2') format('woff2'),
        url('fonts/Siggy/SiggyRJ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Replica Pro';
    src: url('fonts/Replica/ReplicaPro-Regular.woff2') format('woff2'),
        url('fonts/Replica/ReplicaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('fonts/Replica/ReplicaPro-BoldItalic.woff2') format('woff2'),
        url('fonts/Replica/ReplicaPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('fonts/Replica/ReplicaPro-Bold.woff2') format('woff2'),
        url('fonts/Replica/ReplicaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* BASICS */
html, body {
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  background-color: var(--brown);
}

/* BACKGROUND VIDEO */

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}



/* NAVIGATION */

.nav-button {
  text-decoration: none!important;
  display: inline;
  position: absolute;
  position: fixed;
  font-size: 2vw;
  font-family: var(--text);
  color: lime;
  width: 10%;
  height: 5%;
  float: right;
  margin: 2%;

}

.about-button {
  right:0;
  margin-right: 15vw;

}

.podcast-button {
  right:0;
  margin-right: 3vw;
}

.text-about-button {
  text-decoration: none!important;
  color: lime;
  font-weight: bold;
}

.text-podcast-button {
  text-decoration: none!important;
  color: lime;
  font-weight: bold;
}



/* .blur {
	-webkit-filter: blur(5px);
	color: red;
} */

/* TURNING TYPO */
/* .turnaround {
  margin-left: -30px;
  transform-style: preserve-3d;
  animation: spinning-circle 20s linear infinite;
  transform: rotate(80deg);
  text-align: center;
  white-space: nowrap;
  color: var(--white);

}

p:hover {
	-webkit-filter: blur(0px);
	text-shadow: 2px 2px 4px #000000;
}

p {
	-webkit-filter: blur(3px);
  position: absolute;
  top: 50%;
  left: 50%;
	font-family: 'Replica Pro', serif;
	font-style: bold;
	font-size: 2vw;
	color: lime;
	transition: 0.2s -webkit-filter linear, font-size 0.2s ease-out, text-shadow 0.2s linear;

}

p:nth-child(1) {
  transform: translate(-50%, -50%) rotate(55deg) translateY(-230px) rotateX(90deg);
	font-family: 'Siggy RJ numbers', serif;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	font-size: 4vw;
	text-shadow: 4px 4px 0 black;
}

p:nth-child(2) {
  transform: translate(-50%, -50%) rotate(140deg) translateY(-230px) rotateX(90deg);
}

p:nth-child(3) {
  transform: translate(-50%, -50%) rotate(225deg) translateY(-230px) rotateX(90deg);
}

p:nth-child(4) {
  transform: translate(-50%, -50%) rotate(310deg) translateY(-230px) rotateX(90deg);
} */



@media (max-width: 1400px) {

	#background-video {
		position: fixed;
	  top: 0;
	  margin-left: 300PX;
	  width: 100vw;
	  height: 100vh;
		transform: scale(3, 3);
	}

  @media (max-width: 800px) {

  	#background-video {
  		position: fixed;
  	  top: 0;
  	  margin-left: 300PX;
  	  width: 100vw;
  	  height: 100vh;
  		transform: scale(4, 4);
  	}
/*
	p {
		-webkit-filter: blur(0px);
	  position: absolute;
	  top: 50%;
	  left: 50%;
		font-family: 'Replica Pro', serif;
		font-style: bold;
		font-size: 4vw;
		color: lime;
		transition: 0.2s -webkit-filter linear, font-size 0.2s ease-out, text-shadow 0.2s linear;

	}

	p:nth-child(1) {
	  transform: translate(-50%, -50%) rotate(55deg) translateY(-110px) rotateX(90deg);
		font-family: 'Siggy RJ numbers', serif;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
		font-size: 7vw;
		text-shadow: 4px 4px 0 black;
	}

	p:nth-child(2) {
	  transform: translate(-50%, -50%) rotate(140deg) translateY(-110px) rotateX(90deg);
	}

	p:nth-child(3) {
	  transform: translate(-50%, -50%) rotate(225deg) translateY(-110px) rotateX(90deg);
	}

	p:nth-child(4) {
	  transform: translate(-50%, -50%) rotate(310deg) translateY(-110px) rotateX(90deg);
	} */






}


@keyframes spinning-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }

  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}
