/* VARIABLES */
:root {
  --brown: #5f3b23;
  --white: white;
  --text: 'Replica Pro';
	/* --bold: 'Replica Bold';
	--bolditalic: 'Replica Bold'; */
  --siggy: 'Siggy RJ numbers';
}

/* FONTS */
@font-face {
    font-family: 'Siggy RJ numbers';
    src: url('../fonts/Siggy/SiggyRJ-Regular.woff2') format('woff2'),
        url('../fonts/Siggy/SiggyRJ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/Replica/ReplicaPro-Regular.woff2') format('woff2'),
        url('../fonts/Replica/ReplicaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/Replica/ReplicaPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/Replica/ReplicaPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/Replica/ReplicaPro-Bold.woff2') format('woff2'),
        url('../fonts/Replica/ReplicaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* BASICS */
html, body {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  background-color: lightgrey;
}

/* BACKGROUND VIDEO */

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-filter: blur(10px);
  z-index: -100;
}


button {
  padding: 0;
  border: 0;
  background: inherit;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
#audio-player-container {
  position: relative;
  margin: 100px 5% auto 5%;
  width: 90%;
  max-width: 500px;
  height: 80px;
  background: #fff;
}
#audio-player-container::before {
  position: absolute;
  content: '';
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(to left, #007db5, #ff8a00);
  z-index: -1;
}
p {
  position: absolute;
  top: -18px;
  right: 5%;
  padding: 0 5px;
  margin: 0;
  font-size: 28px;
  background: #fff;
}
#play-icon {
  margin: 20px 2.5% 20px 2.5%;
}
path {
  stroke: #007db5;
}


@media (max-width: 1400px) {
	#background-video {
		position: fixed;
	  top: 0;
	  margin-left: 300PX;
	  width: 100vw;
	  height: 100vh;
		transform: scale(3, 3);
	}

  @media (max-width: 600px) {
  	#background-video {
  		position: fixed;
  	  top: 0;
  	  margin-left: 300PX;
  	  width: 100vw;
  	  height: 100vh;
  		transform: scale(4, 4);
  	}


@keyframes spinning-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }

  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}
