/* VARIABLES */
:root {
  --brown: #5f3b23;
  --white: white;
  --text: 'Replica Pro';
	/* --bold: 'Replica Bold';
	--bolditalic: 'Replica Bold'; */
  --siggy: 'Siggy RJ numbers';
}

/* FONTS */
@font-face {
    font-family: 'Siggy RJ numbers';
    src: url('../fonts/Siggy/SiggyRJ-Regular.woff2') format('woff2'),
        url('../fonts/Siggy/SiggyRJ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/Replica/ReplicaPro-Regular.woff2') format('woff2'),
        url('../fonts/Replica/ReplicaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/Replica/ReplicaPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/Replica/ReplicaPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/Replica/ReplicaPro-Bold.woff2') format('woff2'),
        url('../fonts/Replica/ReplicaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* BASICS */
html, body {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--brown);
}

/* BACKGROUND VIDEO */

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-filter: blur(5px);
}

/* FLOATING STORIES */

#story{
	position:fixed;
  display: inline-block;
}

#story-background{
  width: 10vw;
  height:10vw;
	background-color:lime;
  -webkit-filter: blur(10px);
  border-radius: 50%;

}

#story-title{
  color: var(--brown);
  font-size: 2em;
  font-family: var(--text);
  text-align: center;

}








@media (max-width: 1400px) {
	#background-video {
		position: fixed;
	  top: 0;
	  margin-left: 300PX;;
	  width: 100vw;
	  height: 100vh;
		transform: scale(3, 3);
	}

  @media (max-width: 600px) {
  	#background-video {
  		position: absolute;
  	  top: 0;
  	  left: 0;
  	  width: 100vw;
  	  height: 100vh;
  		transform: scale(4, 4);
  	}



}


@keyframes spinning-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }

  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}
