@font-face {
    font-family: 'Replica Pro';
    src: url('ReplicaPro-LightItalic.woff2') format('woff2'),
        url('ReplicaPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('ReplicaPro-Regular.woff2') format('woff2'),
        url('ReplicaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('ReplicaPro-BoldItalic.woff2') format('woff2'),
        url('ReplicaPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('ReplicaPro-Light.woff2') format('woff2'),
        url('ReplicaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('ReplicaPro-Italic.woff2') format('woff2'),
        url('ReplicaPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('ReplicaPro-Bold.woff2') format('woff2'),
        url('ReplicaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

