@font-face {
    font-family: 'Siggy RJ numbers';
    src: url('SiggyRJ-Regular.woff2') format('woff2'),
        url('SiggyRJ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

